.navbar{
    background-color: lightgreen;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: green;
    border-radius: 5px;
}
.card :hover{
    opacity: 0.5;
}
.card-body{
    text-align:center;
}